html
	head
	body
		include ../partials/header
		div(class="mainDiv")
			h3 Here are your search results
			p Movies with:

			if title
				p "#{title}" in its title
			if actor
				p #{actor} as one of its actors
			if genre
				p "#{genre}" in one of its genres.
			ul
				each movie in movies
					li 
						a(href="/movies/"+movie._id class="link")  #{movie.title}
			
			p 
				if currPage != 1
					a(href=prevUrl) Previous Page
				| &nbsp Page: #{currPage}/#{numPages} &nbsp
				if currPage != numPages
					a(href=nextUrl) Next Page
